


<div *ngIf="showAlert"  [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; {{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div id="modalBodyContent" >
                    <h4 style="color:#125B66;" >{{ message }}</h4>
                </div>
                
            </div>            
            <div class="modal-footer">
                <button [class]="getActionButtonClass('yes')" (click)="onConfirm_('yes')" ><span [class]="getBoostrapIcon('yes')" aria-hidden="true"></span>&nbsp;{{yesText}}</button>
                <button [class]="getActionButtonClass('no')" (click)="onConfirm_('no')"><span [class]="getBoostrapIcon('no')" aria-hidden="true"></span>&nbsp;{{noText}}</button>
            </div>
        </div>
    </div>
</div>


