#taskGridContainer{
    margin-top: 30px !important;
}

#tasksGridTable thead tr th{
    padding-top:1em !important;
    background-color: #ECFFFF;
    color:black;
    cursor:pointer; 
}

.table tbody td.fit, 
.table thead th.fit {
    white-space: nowrap;
    width: 1%;
    text-align: center;
}

#table-pagination{
    margin-top:0px !important;
}
