
<br/>
<br/>
<br/>

<ol class="breadcrumb" style='border-bottom : 1px solid #CEE5E8 !important;'>
    <li><a routerLink="/clients"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>&nbsp; Go Back</a></li>
    <li style="color:rgb( 49,126,172 );" >Hunter Tasks</li>
</ol>

<hunter-table-config 
    #hunterTable
    [dataBeanName] = "'Task'"
    [headers]="headers" 
    [hunterTableData]="tasks" 
    (handleGridAction)="handleGridAction($event)">
</hunter-table-config>



<div id="cloneTaskContent" *ngIf="modalAction == 'CloneTask'">
    <clone-task [taskId]="currDataId" [isModalShown] = true #cloneTask></clone-task>
</div>



<!--

<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; {{cloneTitle}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div id="cloneTaskContent" *ngIf="modalAction == 'CloneTask'">
                    <clone-task [taskId]="currDataId" ></clone-task>
                </div>
                
                <div *ngIf="modalAction == 'DeleteTask'"  id="confirmTaskDelete" >
                    <h3 style="color:red;">The selected task will be deleted<br/> Are you sure?</h3>
                </div>
                
                <div *ngIf="modalAction == 'ProcessTask'" id="processTask" >
                    <h3 style="color:green;">The selected action will be submitted for processing.<br>
                        Are you sure?
                    </h3>
                </div>
            </div>            
            <div class="modal-footer">
                <button [class]="getActionButtonClass()" (click)="performSelAction()" (click)="hunterTable.initializeDataGrid()"><span [class]="getActionIcon()" aria-hidden="true"></span>&nbsp;{{selActionDispName}}</button>
                <button class="btn btn-primary" (click)="hideModal()"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>

-->


