
<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp; {{title}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">                
                <div id="cloneTaskContent" >    
                    <form [formGroup]="cloneTaskFieldsForm" novalidate (ngSubmit)="clone(taskFieldsForm.value, taskFieldsForm.valid)" id="taskFieldsForm" style="width:80%;margin-left:10%;" >
                        <div class="form-group">
                            <label for="taskName" style="color:#41ABBC;font-size:1.05em;;">New Task Name</label>
                            <input style="border:1px solid #E6F1F3 !important;" class="form-control input-md" id="taskName" formControlName="taskName"
                                type="text" placeholder="Enter new task name..">
                            <small [hidden]="cloneTaskFieldsForm.controls.taskName.valid || (cloneTaskFieldsForm.controls.taskName.pristine && !submitted)">
                                {{ customValidatorMessages.taskName }}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="taskDescription" style="color:#41ABBC;font-size:1.05em;;">New Task Description</label>
                            <input style="border:1px solid #E6F1F3 !important;" class="form-control input-md" id="taskDescription" formControlName="taskDescription"
                                type="text" placeholder="Enter new task description..">
                            <small [hidden]="cloneTaskFieldsForm.controls.taskDescription.valid || (cloneTaskFieldsForm.controls.taskDescription.pristine && !submitted)">
                                {{ customValidatorMessages.taskDescription }}
                            </small>
                        </div>
                        <div class="form-group">
                            <label for="newOwner" style="color:#41ABBC;font-size:1.05em;;">New Task Client</label>            
                            <select style="border:1px solid #E6F1F3 !important;max-width: 50%" class="form-control" id="newOwner" formControlName="newOwner" placeholder="Select New Client...">
                                <option style="border:1px solid #E6F1F3 !important;" *ngFor="let client of clients" [value]="client.clientId" >{{client.firstName}} {{ client.lastName }} ( {{ client.userName }} ) </option>
                            </select>
                            <small [hidden]="cloneTaskFieldsForm.controls.newOwner.value != '' ">
                                {{ customValidatorMessages.newOwner }}
                            </small>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button [disabled]="!cloneTaskFieldsForm.valid" class="btn btn-success" (click)="cloneSelectedTask()"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp;Clone</button>
                <button class="btn btn-primary" (click)="hideModal()"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Close</button>
            </div>
        </div>
    </div>
</div>


