
<div style='width:90%;margin-left:5%;overflow-x: scroll;' #panel>
    <div id='wf-container' >
        <table >
            <tr>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here Table TD Over Here Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here Table TD Over Here Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" >Table TD Over Here</td>
            </tr>
            <tr>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
            </tr>
            <tr>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd current" (click)="animateParent()" >Table TD Over Here</td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
                <td class="tableTd" (click)="animateParent()" ></td>
            </tr>
        </table>
    <div>
</div>

<button (click)="scrollRight(panel)">Scroll Right</button>
<button style="float:right;margin-right:50%;" (click)="scrollLeft(panel)">Scroll Left</button>