
<app-hunter-table *ngIf="!addingGroup" 
    [barActions]="getBarActions()"
    (handleBarAction)="handleBarAction($event)"
    [height]='400'
    [headers]="headers" 
    [hunterTableData]="taskGroups" 
    (handleGridAction)="handleGridAction($event)"
    #hunterTableConfig
    >
</app-hunter-table>


<app-confirm-alert
    *ngIf="confirmingDelete"
    [message] = "'The selected task group will be deleted. Are you sure?'"
    [title] = "'Delete Selected Task Group'"
    [yesText] = "'Delete'"
    [noText] = "'Cancel'"
    [yesBootstrapClass] = "'glyphicon glyphicon-remove'"
    [noBootstrapClass] = "'glyphicon glyphicon-ban-circle'"
    [yesButtonClass] = "'btn btn-danger'"
    [noButtonClass] = "'btn btn-primary'"
    [marker]="'RemoveGroup'"
    [dataId]="getCurrentDataId()"
    (onConfirm)="onConfirm($event)"
    #confirmAlert
></app-confirm-alert>

<div 
    class="modal fade minWidthHunterTableInModal"
    [config]="{ show: false }" 
    role="dialog"
    (onHidden)="onHiddenAddGroup()"
    bsModal
    #addGroupModal="bs-modal"
    >
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;&nbsp;Select groups to apply to this task.</h4>
            </div>
            <div class="modal-body" >
                <app-hunter-table
                    #availGroupGrid
                    *ngIf='availTaskGroups'
                    [pageSize]='20'
                    [height]='400'
                    (selectedItems) = 'selectedItems($event)'
                    [serverResponse]="availTaskGroups"
                    (handleGridAction)="handleGridAction($event)">
            </app-hunter-table>
            </div>
            <div class="modal-footer">
                <button (click)='addGroupAndClose()' type="button" class="btn hunterButton" data-dismiss="modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Group</button>
                <button (click)='cancelAddGroup()' type="button" class="btn hunterButton" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp; Cancel</button>
            </div>
        </div>
    </div>
</div>