/* You can add global styles to this file, and also import other style files */

.full-width {
  width: 90vw;  
  left: 50%;
}

.modal {
text-align: center;
padding: 0!important;
}

.modal:before {
content: '';
display: inline-block;
height: 100%;
vertical-align: middle;
margin-right: -4px;
}

.modal-dialog {
display: inline-block;
text-align: left;
vertical-align: middle;
}

hr {
  height: 2px;
  background-color: #31A4E7;
  border: none;
  width: 100%;
  margin-top:15%;
}

body{
  min-height: 500px;
}

.hunterButton{
  background-color:#EFF8F9 !important;
  border:1px solid #DAE5E4 !important;
  border-radius: 4px !important;
  color:#217695;
  outline: none !important;
}

.hunterTable_ thead tr th{
    background-color:#EBFBFC;
    font-size: 12px;
    padding-top:1.1em;
    padding-bottom:1.1em;
    text-align: center;
    color:#185454;
    text-decoration: none;
}

.panel-heading, .panel-footer,.breadcrumb,.modal-header,.modal-footer, .popover-title, .popover-arrow .arrow{
  background-color: #E3F0F2 !important;  
}

.popover-content{
  background-color: #EEF7F9 !important;  
}

.panel-default{
  border:1px solid #D4EAEE !important;
}

.modal-header,.modal-footer{
  border-radius: 5px !important;
}

.afterNavBar {
  margin-top:55px;
}

.huntSmlBttn{
  font-size:12px;
  outline: none !important;
}

.hntSmlAwesom{
  font-size:14px !important;
}

.hntrBGColor {
  background-color: #EFF8F9;
}

.hntrColor {
  color: #0874A9;
}

.loadingDataSpinner {
  width:80%;
  margin-left:10%;
  height: 50px;
  padding-top:20px;
  text-align: center;
}


