<br/>
<br/>
<br/>

<ol class="breadcrumb" style='border-bottom : 1px solid #CEE5E8 !important;'>
    <li style="color:rgb( 49,126,172 );">Hunter Home</li>
</ol> 

<app-hunter-table
    [barActions]="getBarActions()"
    [height]='300'
    [loadingData]=false
    [headers]="headers"
    [hunterTableData]="hunterTableData" 
    (handleBarAction)="handleBarAction($event)"
    (handleGridAction)="handleGridAction($event)">
</app-hunter-table>


<ng-template #popTemplate >
    <div>
        <form>
            <span dropdown (onShown)="onShown()" (onHidden)="onFilterDropdownHidden()" (isOpenChange)="isOpenChange()">
                <a href dropdownToggle (click)="false">Click me for a dropdown, yo!</a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li *ngFor="let choice of items">
                        <a class="dropdown-item" href="#">{{choice}}</a>
                    </li>
                </ul>
            </span>
            <div>
                <label>Filter</label>
                <input type="text" name='hntrTblCnfgFltrTxt' id='hntrTblCnfgFltrTxt' placeholder="Enter Filter Text..." >
            </div>
        </form> 
        <br> 
        <div class='text-right' >
            <button class='btn btn-default' (click)="filterAndClosePopup()" ><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>&nbsp;Filter</button>
            <button class='btn btn-default' (click)="closePopupButton.click()" ><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Cancel</button>
        </div>         
    </div>
</ng-template>
<!-- 
<a 
    aria-hidden="true"
    #closePopupButton
    [popover]="popTemplate" 
    popoverTitle="Filter By Name"
    placement="bottom"
    style='margin-left:10%; margin-top:100px;'>
<span class="glyphicon glyphicon-filter" ></span>
</a> -->


<!--
<confirm-alert
    [message] = "'The selected text will be deleted. Are you sure?'"
    [title] = "'Delete Selected Task'"
    [yesText] = "'Delete'"
    [noText] = "'Cancel'"
    [yesBootstrapClass] = "'glyphicon glyphicon-remove'"
    [noBootstrapClass] = "'glyphicon glyphicon-ban-circle'"
    [yesButtonClass] = "'btn btn-danger'"
    [noButtonClass] = "'btn btn-primary'"
    [marker]="'DeleteTask'"
    [dataId]="getCurrentDataId()"
    (onConfirm)="onConfirm($event)"
></confirm-alert>



<clone-task
    [taskId]="'1'"
></clone-task>


<div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal" class="modal fade"
    tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">{{popupModalTitle}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <span style='color:red;'>Are you sure you want to delete?</span> <br><br>
                <table style='width:60%;margin-left:20%;margin-bottom:5%;'>
                    <tr>
                        <td><button class="btn btn-danger" (click)="deleteSelectedRow()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;Delete</button></td>
                        <td>&nbsp;&nbsp;</td>
                        <td><button class="btn btn-primary" (click)="hideModal()"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Close</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

-->

<br>
<br>


<!-- 
<div class="container">
    <div class="jumbotron" style="min-height: 500px;" >      
      <div>
            <h2>Workflow Trees:</h2> 
            <button [disabled]='loadingTrees' class="btn btn-default" (click)="loadWorkflowTrees()" >Load Trees</button>
      </div>
      <span *ngIf="errorOccurred" style="font-size:15px;color:red;" ><br><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;Error occurred while loading workflow trees</span>                   
      <div style='margin-top:20px;' >
        <i *ngIf="loadingTrees" class="fa fa-spinner fa-pulse fa-2x fa-fw" style="color:blue;margin-left:25px;"></i>
        <ul *ngIf="!loadingTrees && worflowSteps" >
            <li class="treenode" *ngFor="let step of worflowSteps; let i=index" (click)="showStepDetails(step)" >
                {{ step.stepName }}
                <ul>
                    <li *ngFor="let adhoc of step.adhocs; let a=index" >
                        {{ adhoc.stepName }}
                        </li>
                </ul>
            </li>
        </ul>        
      </div>

    </div>    
  </div>
   -->


  <div 
    *ngIf="isModalShown" 
    [config]="{ show: true }" 
    (onHidden)="onHidden()" 
    bsModal 
    #autoShownModal="bs-modal" 
    class="modal fade"
    tabindex="-1" 
    role="dialog" 
    aria-hidden="true" >
  <div class="modal-dialog modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title pull-left">{{popupModalTitle}}</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                    <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
                <div style='min-height:300px;text-align:center;' >
                    <span style='margin-top:260px;'> Create New Task </span>
                </div>                              
          </div>
          <div class="modal-footer">
                <button class="btn btn-small btn-default" (click)="hideModal()"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>&nbsp;Close</button>
          </div>
      </div>
  </div>
</div>