

small{
    color:red;
    font-family: Courier New, Courier, monospace;
}

#taskFieldsForm input {
    font-family: Courier New, Courier, monospace;
    font-size: 16px;
    
}

input{
    border:1px solid #E6F1F3 !important;
}