
<div class="navbar navbar-default navbar-fixed-top" >
  <div class="container" >
    
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp; Home</a>      
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">

     <ul class="nav navbar-nav">        
        <li><a routerLink="/clients" ><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp; Clients</a></li>
      </ul>
      <ul class="nav navbar-nav">        
          <li><a routerLink="/tasks" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; Tasks</a></li>
      </ul>

      <ul class="nav navbar-nav">        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"><span class="glyphicon glyphicon-registration-mark" aria-hidden="true"></span>&nbsp; Hunter <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a routerLink="/tasks" ><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>&nbsp; Tasks</a></li>
            <li><a routerLink="/clients" ><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp; Clients</a></li>
            <li><a routerLink="/grid" ><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>&nbsp; Grid</a></li>
            <li class="divider"></li>
            <li><a href="../cerulean/">Cerulean</a></li>            
          </ul>
        </li>        
      </ul>

      <ul class="nav navbar-nav navbar-right">        
        <li><a (click)="logInOrOut()" >{{loggedInOutText}}</a></li>
        <li style="text-align: right;"><a>{{userFullName}}</a></li>
      </ul>

    </div>
  </div>
</div>
